/**
 * shelly-porssisahko
 * 
 * (c) Jussi isotalo - http://jisotalo.fi
 * https://github.com/jisotalo/shelly-porssisahko
 * 
 * License: GNU Affero General Public License v3.0 
 */
 * {
  box-sizing: border-box;
}

body,
a {
  color: #ecf0f1;
}

body {
  background: #2c3e50;
  line-height: 1.4em;
  font-size: 0.9em;
  font-family: Verdana;
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  padding: 5px 10px;
}

#title {
  font-size: 1.4em;
  margin-bottom: 5px;
}

#copy {
  font-size: 0.8em;
  align-self: flex-end;
  text-align: right;
}

.flx {
  display: flex;
}

.tabs {
  position: relative;
  background: #1abc9c;
}

.tabs::before,
.tabs::after {
  content: "";
  display: table;
}

.tabs::after {
  clear: both;
}

.tab {
  float: left;
}

.tab-switch {
  display: none;
}

.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #1abc9c;
  border-right: 0.125rem solid #16a085;
  color: #fff;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}

.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}

.tab-content {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1rem;
  background: #fff;
  color: #2c3e50;
  opacity: 0;
  transition: all 0.35s;
}

.tab-switch:checked+.tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}

.tab-switch:checked+label+.tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}

.top {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}


#loading {
  z-index: 1000;
  position: fixed;
  margin: auto;
  top: 20vh;
  left: 0;
  right: 0;
  width: 20em;
  border: 5px solid #1abc9c;
  background: #2c3e50;
  padding: 0.5em;
  text-align: center;
}

.loadingspinner {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  pointer-events: none;
  width: 2.5em;
  height: 2.5em;
  border: 0.4em solid transparent;
  border-color: #1abc9c;
  border-top-color: white;
  border-radius: 50%;
  animation: loadingspin 1s linear infinite;
}

.spin-sm {
  pointer-events: none;
  width: 1.2rem;
  height: 1.2rem;
  border: 0.2rem solid transparent;
  border-color: #1abc9c;
  border-top-color: white;
  border-radius: 50%;
  animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
  100% {
    transform: rotate(360deg)
  }
}

td.t,
td.bg {
  font-weight: bold;
  vertical-align: top;
}

.flx-mob-col {
  flex-direction: row;
}

@media(max-width: 480px) {
  table.m td {
    display: block;
    width: 100% !important;
  }

  table.m td.t,
  table.m td.bg {
    margin-left: 0px;
    border-top: 0;
    border-bottom: 0;
  }

  table.m tr:first-child {
    border-top: 1px black solid;
  }

  .flx-mob-col {
    flex-direction: column;
  }
  .flx-mob-col>div {
    margin: 0 0;
  }
}

textarea {
  white-space: pre;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

td.bg {
  background: #1abc9c;
}

td {
  border: 1px black solid;
  padding: 5px;
}

.tc {
  text-align: center;
}

td.fit {
  width: 1%;
  white-space: nowrap;
}

.h {
  display: none;
}

.w180 {
  width: 180px;
}

.mt10 {
  margin-top: 10px;
}

.fg1fb0 {
  flex-grow: 1;
  flex-basis: 0;
}

.mr5 {
  margin: 0 5px;
}

.ml5 {
  margin-left: 5px;
}

.b {
  font-weight: bold;
}

.btn {
  font-size: 1.1em;
}