/**
 * shelly-porssisahko
 * 
 * (c) Jussi isotalo - http://jisotalo.fi
 * https://github.com/jisotalo/shelly-porssisahko
 * 
 * License: GNU Affero General Public License v3.0 
 */
* {
  box-sizing: border-box;
}

body,
a {
  color: #ecf0f1;
}

body {
  background: #2c3e50;
  line-height: 1.4em;
  font-size: 0.9em;
  font-family: Verdana;
  max-width: 49rem;
  width: 100%;
  margin: 0 auto;
  padding: 5px 10px;
}

#title {
  font-size: 1.4em;
  margin-bottom: 5px;
}

#copy {
  font-size: 0.8em;
  align-self: flex-end;
  text-align: right;
}

.flx {
  display: flex;
}

.tabs {
  position: relative;
  background: #1abc9c;
}

.tabs::before,
.tabs::after {
  content: "";
  display: table;
}

.tabs::after {
  clear: both;
}

.tab {
  float: left;
}

.ts {
  display: none;
}

.tab-label {
  display: block;
  line-height: 2.75em;
  padding: 0 1.618em;
  border-right: 2px solid #16a085;
  cursor: pointer;
}

.tab-content {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1rem;
  background: #fff;
  color: #2c3e50;
  opacity: 0;
}

.ts:checked+.tab-label {
  background: #fff;
  color: #2c3e50;
  border: 0;
}

.ts:checked+label+.tab-content {
  opacity: 1;
  z-index: 2;
}

.top {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.spn {
  pointer-events: none;
  width: 1.2rem;
  height: 1.2rem;
  border: 0.2rem solid transparent;
  border-color: #1abc9c;
  border-top-color: white;
  border-radius: 50%;
  animation: spn 1s linear infinite;
}

@keyframes spn {
  100% {
    transform: rotate(360deg)
  }
}

table.cc>tbody>tr>td:first-child, .bg, table.sm tr:first-child {
  font-weight: bold;
  vertical-align: top;
  background: #1abc9c;
}

.flx-mob-col {
  flex-direction: row;
}

@media(max-width: 480px) {
  table.m>tbody>tr>td {
    display: block;
    width: 100%;
  }

  table.m>tbody>tr>td:first-child {
    margin-left: 0px;
    border-top: 0;
    border-bottom: 0;
  }

  table.m tr:first-child {
    border-top: 1px black solid;
  }

  .flx-mob-col {
    flex-direction: column;
  }

  .flx-mob-col>div {
    margin: 0;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px black solid;
  padding: 5px;
}

.tc {
  text-align: center;
}

.fit {
  width: 1%;
  white-space: nowrap;
}

.w180 {
  width: 180px;
}

.mt10 {
  margin-top: 10px;
}

.flx1 {
  flex: 1;
}

.mr5 {
  margin: 0 5px;
}

.ml5 {
  margin-left: 5px;
}

.b,
#s-cmd {
  font-weight: bold;
}

input[type=button] {
  font-size: 1.1em;
}

table.sm {
  font-size: 0.9em;
  width: auto;
}

table.sm td {
  padding:3px;
  text-align: center;
}

summary {
  cursor: pointer;
}
